{% extends "tracing/base.html" %}
{% comment %}
vim:ts=2:expandtab:ai
$Id: $
{% endcomment %}
{% load i18n %}

    {% block middle %}
    <div class="panel panel-primary col-md-12">
      <div class="panel-heading">
        <h3>{{ rack.identifier }} {{ rack.get_racktype_display }}</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-4">
          <form id="batchform" method="POST">
           {% csrf_token %}
           {% trans "Batch" %}
           <select name="batchid" id="batchid">
             <option value=""></option>
             {% for b in pending %}
             <option value="{{b.identifier}}" 
              {% if batch.identifier == b.identifier %} selected {% endif %}>
              {{b.identifier}}({{b.numSamples}})
             </option>
             {% endfor %}
           </select>
           <input type="Submit" class="btn btn-success"
                  value="{% trans "Select batch" %}">
          </form>
        </div>
        <div class="col-md-4">
         <form id="sampleform" method="POST" action="insert/{{rack.id}}">
           {% csrf_token %}
            {% trans "Sample" %} <input name="identifier" id="identifier">
          </form>
        </div>
        <div class="col-md-2">
          <a href="{% url "tracing:empty" rack.id %}" class="btn btn-default">
            {% trans "Empty rack" %}
          </a>
        </div>
        <div class="col-md-2">
          <a href=".." class="btn btn-success">{% trans "Finished" %}</a>
        </div>
<script nonce="{{settings.VARIABLE_NONCE_CSP}}" type="text/javascript">
    var frm = $('#sampleform');

    frm.submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $('#identifier').val('');
                $('#grid'+data.row+''+data.col).html(data.sampleid);
            },
            error: function (data) {
                alert(data.responseJSON.error);
            },
        });
    });
</script>
      {% include "tracing/rack.html" %}
      </div>
    </div>
    {% endblock %}
