{% extends "tracing/base.html" %}
{% comment %}
vim:ts=2:expandtab:ai
$Id: $
{% endcomment %}
{% load i18n %}

    {% block middle %}
    <div class="panel panel-primary col-md-6">
      <div class="panel-heading">
        <h3>{% trans "Create new rack" %}</h3>
      </div>
      <div class="panel-body">
      {% for t in racktypes %}
        <a href='create/{{t.0}}' class="btn btn-default">{{t.1}}</a>
      {% endfor %}
      </div>
    </div>
    <div class="panel panel-primary col-md-6">
      <div class="panel-heading">
        <h3>
          {% trans "Controls" %}
          <span id="refreshstatus"></span>
        </h3>
      </div>
      <div class="panel-body">
        <a href="upload" class="btn btn-success">
          {% trans "Upload sample batch" %}
        </a>
        <a href="history" class="btn btn-success flush-right">
          {% trans "View logs" %}
        </a>
        {% if refresh %}
        <a href="stop" class="btn btn-danger flush-right">
          {% trans "Stop receiving" %}
        </a>
        {% else %}
        <a href="start" class="btn btn-info flush-right">
          {% trans "Start receiving" %}
        </a>
        {% endif %}
      </div>
    </div>
    <div class="panel panel-primary col-md-12">
      <div class="panel-heading">
        <h3>{% trans "Station A" %}</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-10">
        {% for rack in forA %}
          <div class="btn-group">
            <button class="btn btn-default">
              {{ rack }} {% trans "place into" %}
            </button>
            {% for robot in freeA %}
            <a href="move/{{rack.id}}/{{robot.id}}" class="btn btn-default">
              {{ robot.station }}{{ robot.order }}
            </a>
            {% endfor %}
          </div>
        {% endfor %}
        </div>
        {% for robot in astations %}
        <div class="panel panel-primary col-md-6">
           <div class="panel-heading">
             {{ robot }}
             <button class="btn btn-default flush-right">
                {{ robot.get_state_display }}
             </button>
           </div>
           <div class="panel-body">
             <table class="table table-hoverable table-responsive">
             {% with racks=robot.rack_set.all %}
               <tr>
                 <td id="R4" class='col-md-2' 
                     style="text-align: center; background-color: lime">&nbsp;
                   {% for rack in racks %} {% if rack.position == 4 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
                 <td id="R5" class='col-md-2' 
                     style="text-align: center; background-color: cyan">&nbsp;
                   {% for rack in racks %} {% if rack.position == 5 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
                 <td id="R6" class='col-md-2' 
                     style="text-align: center; background-color: yellow">&nbsp;
                   {% for rack in racks %} {% if rack.position == 6 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
               </tr>
               <tr>
                 <td id="R1" class='col-md-2' 
                     style="text-align: center; background-color: orange">&nbsp;
                   {% for rack in racks %} {% if rack.position == 1 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
                 <td id="R2">&nbsp;</td>
                 <td id="R3" class='col-md-2' 
                     style="text-align: center; background-color: blue">&nbsp;
                   {% for rack in racks %} {% if rack.position == 3 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
               </tr>
             {% endwith %}
             </table>
           </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div>
    </div>
    <div class="panel panel-primary col-md-12">
      <div class="panel-heading">
        <h3>{% trans "Station B" %}</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-10">
        {% for rack in forB %}
          <div class="btn-group">
            <button class="btn btn-default">
              {{ rack }} {% trans "place into" %}
            </button>
            {% for robot in freeB %}
            <a href="move/{{rack.id}}/{{robot.id}}" class="btn btn-default">
              {{ robot.station }}{{ robot.order }}
            </a>
            {% endfor %}
          </div>
        {% endfor %}
        </div>
        {% for robot in bstations %}
        <div class="panel panel-primary col-md-6">
           <div class="panel-heading">
             {{ robot }}
             <button class="btn btn-default flush-right">
                {{ robot.get_state_display }}
             </button>
           </div>
           <div class="panel-body">
             <table class="table table-hoverable table-responsive">
             {% with racks=robot.rack_set.all %}
               <tr>
                 <td id="R4" class='col-md-2' 
                     style="text-align: center; background-color: cyan">&nbsp;
                   {% for rack in racks %} {% if rack.position == 4 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
                 <td id="R5" class='col-md-2' 
                     style="text-align: center; background-color: white">&nbsp;
                   {% for rack in racks %} {% if rack.position == 5 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
                 <td id="R6" class='col-md-2' 
                     style="text-align: center; background-color: white">&nbsp;
                   {% for rack in racks %} {% if rack.position == 6 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
               </tr>
               <tr>
                 <td id="R1" class='col-md-2' 
                     style="text-align: center; background-color: magenta">&nbsp;
                   {% for rack in racks %} {% if rack.position == 1 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
                 <td id="R2">&nbsp;</td>
                 <td id="R3" class='col-md-2' 
                     style="text-align: center; background-color: white">&nbsp;
                   {% for rack in racks %} {% if rack.position == 3 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
               </tr>
             {% endwith %}
             </table>
           </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div>
    </div>
    <div class="panel panel-primary col-md-12">
      <div class="panel-heading">
        <h3>{% trans "Station C" %}</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-10">
        {% for rack in forC %}
          <div class="btn-group">
            <button class="btn btn-default">
              {{ rack }} {% trans "place into" %}
            </button>
            {% for robot in freeC %}
            <a href="move/{{rack.id}}/{{robot.id}}" class="btn btn-default">
              {{ robot.station }}{{ robot.order }}
            </a>
            {% endfor %}
          </div>
        {% endfor %}
        </div>
        {% for robot in cstations %}
        <div class="panel panel-primary col-md-6">
           <div class="panel-heading">
             {{ robot }}
             <button class="btn btn-default flush-right">
                {{ robot.get_state_display }}
             </button>
           </div>
           <div class="panel-body">
             <table class="table table-hoverable table-responsive">
             {% with racks=robot.rack_set.all %}
               <tr>
                 <td id="R4" class='col-md-2' 
                     style="text-align: center; background-color: magenta">&nbsp;
                   {% for rack in racks %} {% if rack.position == 4 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
                 <td id="R5" class='col-md-2' 
                     style="text-align: center; background-color: white">&nbsp;
                   {% for rack in racks %} {% if rack.position == 5 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
                 <td id="R6" class='col-md-2' 
                     style="text-align: center; background-color: white">&nbsp;
                   {% for rack in racks %} {% if rack.position == 6 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
               </tr>
               <tr>
                 <td id="R1" class='col-md-2' 
                     style="text-align: center; background-color: green">&nbsp;
                   {% for rack in racks %} {% if rack.position == 1 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
                 <td id="R2">&nbsp;</td>
                 <td id="R3" class='col-md-2' 
                     style="text-align: center; background-color: white">&nbsp;
                   {% for rack in racks %} {% if rack.position == 3 %}
                   <a href="move/{{ rack.id }}" class="btn btn-default">
                     {{rack.position}}:{{rack.shortIdent}}({{rack.numSamples}})
                   </a>
                   {% else %} &nbsp;
                   {% endif %} {% endfor %}
                 </td>
               </tr>
             {% endwith %}
             </table>
           </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% if refresh %}
<script>
//$(document).ready(function () {
  $('#refreshstatus').html('Waiting <span id="countdown">{{ refresh }}</span>s ...');
  function initcount(endtime) {
    function countdown() {
      $('#countdown').html('contando');
      var t = Date.parse(endtime) - Date.parse(new Date());
      if ( t <= 0 ) { 
        location.reload(true);
        clearInterval(interval);
        $('#refreshstatus').html('Refreshing...');
      };
      $('#countdown').html(t / 1000);
    };
    countdown();
    var interval = setInterval(countdown, 1000);
  };
  var deadline = new Date(Date.parse(new Date()) + {{ refresh }}*1000);
  initcount(deadline);
// });
</script>
{% endif %}
    {% endblock %}
